.first-container {
  background-image: url("images/iPhone13Pro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 550px;
  zoom: 1;
  z-index: -1;
}

.iPhone13ProContent {
  color: #1d1d1f;
  text-align: center;
}

.iPhone13ProContent:hover {
  color: #1d1d1f;
}

h1 {
  display: block;
  margin-top: 3.5%;
  font-size: 58px;
  line-height: 143px;
  font-weight: 500;
  letter-spacing: -2.5px;
}

h2 {
  display: block;
  margin-top: -3%;
  font-weight: 450;
  font-size: 27.5px;
  letter-spacing: -0.75px;
}

.sub-text {
  font-size: 21px;
  margin-top: 0%;
  letter-spacing: -0.75px;
  color: #1582ef;
}

#sub-text2:hover {
  text-decoration: underline;
}

#sub-text3 {
  margin-left: 40px;
}

#sub-text3:hover {
  text-decoration: underline;
}

#divider {
  color: #1582ef;
  font-size: 20px;
  margin-left: 5px;
}

@media only screen and (max-width: 414px) {
  .first-container {
    max-width: 100%;
    background-image: url(https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small_2x.jpg);
    background-size: cover;
    height: 560px;
    margin-top: -5%;
  }

  .firstMainContentHeader h1 {
    font-size: 33px;
    padding-top: 30px;
    letter-spacing: -1.5px;
  }

  h2 {
    font-size: 22px;
    margin-top: -13%;
  }

  .first-container .sub-text {
    padding-top: 15px;
    font-size: 18px;
  }
}
