@font-face {
  font-family: "Eyes Wide Open";
  src: url(fontfile/EyesWideOpenPersonalUse-egwB.ttf) format("truetype");
}

@font-face {
  font-family: "Eu Alonira";
  src: url(fontfile//EuAloniraPersonalUse-8MqqA.ttf) format("truetype");
}

.fourthC-container {
  position: relative;
}

.fourthC-container .iPadMiniImage {
  display: block;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  max-width: 48%;
  height: 580px;
  object-fit: cover;
  zoom: 1;
  z-index: -1;
}

.iPadMiniContentHeader {
  text-align: center;
  position: absolute;
  color: black;
  top: 1200px;
  left: 15%;
}

.iPad {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.5px;
}

.coloredFont {
  padding-right: 20px;
  margin-left: -4%;
  font-family: "Eyes Wide Open";
  font-size: 3.5rem;
  letter-spacing: -0.5px;
  font-weight: lighter;
  background: linear-gradient(96deg, #fd6e68, #f33ee3, #5a01f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.megapower {
  margin-top: -16px;
  font-size: 22px;
}

.iPadMiniContentHeader #iPadblue-links {
  padding-top: 7%;
}

.fourthC-container .tvPlusImg {
  display: block;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  max-width: 49%;
  height: 580px;
  object-fit: cover;
  zoom: 1;
  z-index: -1;
}

.tvPlusContentHeader {
  text-align: center;
  position: absolute;
  color: white;
  left: 62%;
  top: 1510px;
}

.tvPlus {
  font-size: 35px;
}

.macbeth {
  font-family: "Eu Alonira";
  font-size: 28px;
}

.title-small {
  font-family: "Eu Alonira";

  font-size: 20px;
}

#flower1 {
  margin-top: -4%;
}

.leafImage {
  transform: rotateZ(45deg);
  position: absolute;
  left: 120px;
  top: 100px;
}

.titleName {
  font-family: "Eu Alonira";
  font-size: 38px;
  letter-spacing: 4.5px;
  margin-top: 3%;
}

.director {
  font-size: 22px;
}

#tvPlusblue-links {
  margin-top: 8px;
}
a #streamNow {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

#streamNow:hover {
  text-decoration: underline;
}

.stream {
  position: absolute;
  top: 205px;
  left: 225px;
}

@media only screen and (max-width: 414px) {
  .fourthC-container .iPadMiniImage {
    margin-right: 0%;
    margin-top: 3%;
    max-width: 100%;
    height: 450px;
  }

  .iPadMiniContentHeader {
    max-width: 100%;
    top: 1990px;
    left: 30%;
  }

  .iPad {
    font-size: 40px;
  }

  .coloredFont {
    font-size: 3rem;
    margin-left: 1.5%;
  }

  .megapower {
    padding-top: 2%;
    font-size: 18px;
  }

  .iPadMiniContentHeader #iPadblue-links {
    padding-top: 2%;
    font-size: 14px;
  }

  .fourthC-container .tvPlusImg {
    margin-right: 0%;
    margin-top: 3%;
    max-width: 100%;
    height: 450px;
  }
  .tvPlusContentHeader {
    position: absolute;
    color: white;
    top: 2674px;
    left: 18%;
  }

  .tvPlus {
    font-size: 30px;
  }

  .macbeth {
    font-size: 18px;
  }

  .title-small {
    font-size: 10px;
  }

  .leafImage {
    left: 33%;
    top: 40%;
    width: 14px;
  }

  .titleName {
    font-size: 30px;
  }

  .director {
    font-size: 16px;
  }

  a #streamNow {
    font-size: 14px;
  }

  .stream {
    top: 158px;
    left: 173px;
  }
}
