.fourth-container img {
  position: absolute;
  display: block;
  margin-top: 81.8%;
  margin-left: 15px;
  width: 49%;
  height: 592px;
  object-fit: cover;
  zoom: 1;
  z-index: -1;
}

.fitnessContentHeader {
  text-align: center;
  position: relative;
  color: black;
  top: 1284px;
  left: -344px;
}

.fitness {
  color: black;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 0px;
}

.fitnessContent {
  text-decoration: none;
}

#moreWays {
  font-size: 20px;
  letter-spacing: 0px;
}

.timeToRun {
  line-height: 26px;
}

.blue-links1 {
  position: relative;
  top: 3px;
  font-size: 16px;
}
.blue-text2,
.blue-text3 {
  text-decoration: none;
}
.blue-text2:hover {
  text-decoration: underline;
}

.blue-text3 {
  margin-left: 40px;
}

.macbookContentHeader {
  text-align: right;
  position: relative;
  top: 1250px;
  left: -218px;
}

.fourth-container .macbookImg {
  margin-left: 51%;
  position: absolute;
  display: block;
  margin-top: 77.5%;
  width: 48%;
  height: 562px;
  object-fit: cover;
  zoom: 1;
  z-index: -1;
}
