.fourthA-container img {
  position: absolute;
  display: block;
  margin-top: 91.2%;
  margin-left: 13px;
  width: 49%;
  height: 560px;
  object-fit: cover;
  zoom: 1;
  z-index: -1;
}

.fitnessContentHeader {
  text-align: center;
  position: absolute;
  color: black;
  top: 1820px;
  left: 191px;
}

.fitness {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 0px;
}

a {
  text-decoration: none;
}

#moreWays {
  font-size: 20px;
  letter-spacing: 0px;
}

.timeToRun {
  line-height: 26px;
}

#blue-links {
  position: relative;
  top: 10px;
  font-size: 17px;
  font-weight: 490;
}

.fitnessContent,
#blue-text2:hover {
  text-decoration: underline;
}

.fitnessContent,
#blue-text3:hover {
  text-decoration: underline;
}

#blue-text3 {
  margin-left: 40px;
}

.fourthA-container .macbookImg {
  margin-left: 50.9%;
  position: absolute;
  display: block;
  margin-top: 91.2%;
  width: 48.2%;
  height: 560px;
  object-fit: cover;
  zoom: 1;
  z-index: -1;
}

.macbookContentHeader {
  text-align: center;
  position: absolute;
  top: 1810px;
  left: 900px;
  color: black;
}

.macbookPro {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1px;
}

.supercharged {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 16.5px;
}
