a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-top: 0%;
  color: white;
  font-size: 11.5px;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 0%;
  padding: 9px 0px 9px 0px;
  letter-spacing: 0.1px;
}

nav ul li {
  display: inline;

  padding: 12px 31.5px 12px 10px;
}

.header {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #333333;
  height: 44px;
  z-index: 1;
}

#header-link {
  color: #cfcece;
}

#header-link:hover {
  color: whitesmoke;
  transition: 0.75s ease-in-out;
}

#menu-hidden {
  display: none;
}

.shoppingCart {
  color: #cfcece;
  width: 15px;
}

.shoppingCart:hover {
  color: whitesmoke;
  transition: 0.75s ease-in-out;
}

#apple-icon {
  color: #cfcece;
  font-size: 17px;
}

#apple-icon:hover {
  cursor: pointer;
  color: whitesmoke;
  transition: 0.75s ease-in-out;
}

.search-icon img {
  width: 16px;
}

.search-icon:hover {
  cursor: pointer;
  color: whitesmoke;
  transition: 0.75s ease-in-out;
}

@media only screen and (max-width: 414px) {
  .header {
    height: 48px;
  }

  nav ul {
    display: block;
    font-size: 21px;
    padding: 9px 0px 9px 0px;
  }

  #header-link {
    display: none;
  }
  #apple-icon {
    font-size: 20px;
    display: block;
    margin-top: -8%;
    margin-right: 2em;
  }

  #menu-hidden {
    display: inline-flex;
    font-size: 20px;
    margin-left: 1em;
    margin-top: 0.2em;
    float: left;
  }
  .search-icon {
    visibility: hidden;
  }
  .shoppingCart {
    display: block;
    margin-right: 1em;
    margin-top: -2.55em;
    float: right;
    width: 16px;
  }
}
