.last-container {
  background-color: #f5f5f7;
  margin-top: 131.5%;
  display: block;
  width: 100%;
}

.last-paragraph li {
  width: fit-content;
  color: grey;
  display: block;
  text-align: left;
  font-size: 12.5px;
  padding: 5px 160px 5px 160px;
}

.last-five-columns {
  width: 100%;
  background-color: #f5f5f7;
  font-size: 12.5px;
}
hr {
  margin: 0%;
  display: block;
  width: 66.5%;
  margin-left: 16.5%;
}

.lastContent-links div {
  color: #515153;
  text-align: left;
}

.container {
  max-width: 90%;
  background-color: #f5f5f7;
}
.row {
  max-width: fit-content;
  flex-wrap: nowrap;
}

#last-content-links:hover {
  cursor: pointer;
  text-decoration: underline;
}
#lastLinksTitle {
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

#last-content-links {
  line-height: 30px;
}

#lastLinksTitle2 {
  font-weight: bold;
  padding-top: 23px;
}

#lastBlue-links {
  color: #227ad2;
}

#lastBlue-links:hover {
  text-decoration: underline;
}

footer {
  font-size: 11px;
  margin-left: 224px;
  color: grey;
}

footer hr {
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 0%;
  width: 80%;
}

footer ul {
  margin-top: -26px;
  color: grey;
  font-weight: 500;
}

footer li {
  padding: 0%;
}

footer ul li span {
  margin: 0px 10px 0px 10px;
}

footer li:hover {
  text-decoration: underline;
}

.siteMap {
  margin-right: 5px;
}

@media only screen and (max-width: 414px) {
  .last-container {
    margin-top: 131.5%;
  }
  .last-paragraph li {
    width: 100%;
    display: block;
    font-size: 10px;
    padding: 5px;
  }
  .last-five-columns {
    font-size: 10px;
  }

  .lastContent-links {
    padding: 0%;
    margin: 0%;
  }

  .row {
    flex-direction: column;
    height: 0%;
  }
  .col-6 #lastLinksTitle {
    visibility: visible;
    padding: 0%;
  }
  #last-content-links {
    visibility: collapse;
  }
}
